<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Menú de Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="ion-text-center ion-padding">
    <h1><b>Bienvenido(a)</b></h1>
    <h1>{{user.NOMBRE}}</h1>
    <!-- <h2>Empresa {{user.empresa}}</h2> -->
  </ion-label>
  <ion-list>
    <ion-item (click)="goToAtencionesPacientes()">
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label> Atenciones de Pacientes </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>