<ion-content class="ion-padding">
    <div class="ion-text-center"  style="padding-top:210px">
      <p>Bienvenido(a) al sistema de gestión y acceso virtual de examenes clínicos.</p>
      <p>Ingrese las credenciales para acceder a sus datos.</p>
    </div>
    <form class="ion-no-padding" #form="ngForm" (ngSubmit)="login()">
      <div class="ion-padding-horizontal">
        <ion-list>
          <ion-item>
            <ion-input type="text" name="usuario" placeholder="Usuario" color="white" [(ngModel)]="credentials.usuario" > </ion-input>
          </ion-item>
          <ion-item style="padding-top:12px">
            <ion-input (keyup.enter)="login()"type="password" name="contrasenia" placeholder="Contraseña" color="white" [(ngModel)]="credentials.contrasena"> </ion-input>
          </ion-item>
        </ion-list>
      </div>
      <div style="padding-top:12px" class="ion-padding-horizontal">
        <ion-button type="submit" color="danger" [disabled]="form.invalid" expand="block">Login</ion-button>
      </div>
    </form>
    <div class="ion-text-center ion-no-padding">
      <ion-button style="font-size:10px;font-weight: bolder;" fill="clear" (click)="abrirPoliticaPrivacidad()">Ver Politicas de Privacidad</ion-button>
    </div>
</ion-content>

<app-footer></app-footer>