.scroll-content{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

ion-content {
  --background: white;
}

ion-item {
  //--ion-background-color:rgba(71, 67, 67, 0.45);
  --ion-background-color:rgba(71, 67, 67, 0.2);
}

ion-list {
  --ion-background-color:rgba(0, 0, 0, 0);
}

ion-label {
  display: inline-block;
  vertical-align: middle;
}

ion-button {
  font-size: 12px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}